/* GLOBAL RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

/* HEADER + NAVBAR */
header {
  background-color: #222;
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  color: white;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* MAIN CONTENT */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* CARD STYLE */
.card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.card h2 {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
