body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding-left: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
  margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}