body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding-left: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
  margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

section {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

section {
    background-color: #f9f9f9;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}